<tr>
  <td class="ticker">{{ ticker }}</td>
  <td class="sector">{{ sector }}</td>
  <td class="price mono">{{ buyPrice }}</td>
  <td class="num mono">{{ peTtm }}</td>
  <td class="num mono">{{ pbTtm }}</td>
  <td class="num mono">{{ profitGrowth }}</td>
  <td class="weight-cell">
    <div class="weight-inline">
      <div class="weight-bar-track">
        <div class="weight-bar-fill" style="width:{{ weight }}%"></div>
      </div>
      <div class="weight-num">{{ weight }}%</div>
    </div>
  </td>
</tr>
