<div class="sec-label">{{ recTable.sectionLabel }}</div>
<div class="sec-sub" data-edit>{{ recTable.sectionSub }}</div>

<div class="board-wrap">
  <table class="rec-table">
    <thead>
      <tr>
        <th>Mã CK</th>
        <th>Ngành</th>
        <th class="num">Giá mở mua</th>
        <th class="num">P/E ttm</th>
        <th class="num">P/B ttm</th>
        <th class="num">Tăng trưởng LNST<br></th>
        <th class="num weight-cell">Tỷ trọng</th>
      </tr>
    </thead>
    <tbody>
      ##TABLE_ROWS##
    </tbody>
  </table>
</div>
