<div class="pick-card">
  <div class="pick-header">
    <span class="pick-ticker">##TICKER##</span>
    <span class="pick-sector">##SECTOR##</span>
  </div>
  <div class="pick-metrics">
    <div class="pm-item"><span class="pm-label">Giá hiện tại</span><span class="pm-value">##CURRENT_PRICE##</span></div>
    <div class="pm-item"><span class="pm-label">Giá mục tiêu</span><span class="pm-value">##TARGET_PRICE##</span></div>
    <div class="pm-item"><span class="pm-label">Tỷ trọng</span><span class="pm-value">##WEIGHT##</span></div>
    <div class="pm-item"><span class="pm-label">Upside</span><span class="pm-value pos">##UPSIDE##</span></div>
  </div>
</div>
